{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"
{% endblock%}

{% block content %}

  {% if object %}
    <h1>Edit {{object.model}}</h1>
  {% else %}
    <h1>Add a Bike</h1>
  {% endif %}

<div class="page-header">
  <img src="{% static 'css/images/bicycle-solid.svg' %}"
</div>
<form action="" method="post" class="form-container">
  {% csrf_token %} 
  <table>
    {{ form.as_table }}
  </table>
  <button type="submit" class="btn submit">Submit!</button>
</form>

{% endblock %}