{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/details.css' %}" />
{% endblock %}

{% block content %}

<section class="bike-container">
  <div class="bike-img">
    <img 
      src="{% static 'css/images/bicycle-solid.svg' %}" 
      alt="bike"
    >
  </div>
  <div class="bike-details">
    <h2>A {{ bike.make }} {{ bike.model }} {{ bike.type }} bike from {{ bike.year }}</h2>
    <p>{{ bike.description }}</p>
    <div class="bike-actions">
      <a href="{% url 'bikes_update' bike.id %}" class="btn warn">Edit</a>
      <a href="{% url 'bikes_delete' bike.id %}" class="btn danger">Delete</a>
  </div>
</section>

<div class="maintenance-tool-container">
  <section class="maintenance">
    <div class="subsection-title">
      <h2>Past Maintenance</h2>
    </div>
    <h3>Add Maintenance</h3>
<form method="post" class="subsection-content">
  {% csrf_token %}
  {{ maintenance_form.as_p }}
  <button type="submit" class="btn submit">Add Maintenance</button>
</form>
    <table>
      <thead>
        <tr><th>Date</th><th>Task</th></tr>
      </thead>
      <tbody>
        {% for maintenance in bike.maintenance_set.all %}
          <tr>
            <td>{{maintenance.date}}</td>
            <td>{{maintenance.get_task_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</div>


{% endblock %}